.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(34, 255, 163), rgb(34, 255, 163))
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%
}

#loading {
  position: fixed;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  height: 100%;
  background-color: lightgrey;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  #loading {
    left: 0;
    width: 100%;
  }
}