.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Place the tooltip above the button */
    left: 50%;
    margin-left: -60px; /* Use half of the width to center the tooltip */
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Inter', sans-serif;
    --font-sans: 'Inter';
  }

  body {
    font-family: 'Inter', sans-serif;
    --font-sans: 'Inter';
    overflow-y: auto;
  }

  .card {
    margin-top: -27px;
  }

  #loading-bar-spinner.spinner {
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
    position: absolute;
    z-index: 19 !important;
    animation: loading-bar-spinner 400ms linear infinite;
}

#loading-bar-spinner.spinner .spinner-icon {
    width: 40px;
    height: 40px;
    border:  solid 4px transparent;
    border-top-color:  #00C8B1 !important;
    border-left-color: #00C8B1 !important;
    border-radius: 50%;
}

@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}


.rating {
  display: flex;
  direction: row-reverse;
  justify-content: center;
}

.rating > input {
  display: none;
}

.rating > label {
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  font-size: 24px;
  color: gray;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;}

  .card-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card-container .card {
    flex: 1 0 28%;  /* Or whatever percentage you want */
    margin: 1%;
  }
  
  @media screen and (max-width: 1100px) {  /* Adjust breakpoint as needed */
    .card-container .card {
      flex: 1 0 100%;
      overflow-y:scroll;
    }
  }
  .active1 {
    display: flex;
    flex-direction: column;
  }

  #loading {
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    height: 100%;
    background-color: lightgrey;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 1024px) {
    #loading {
      left: 0;
      width: 100%;
    }
  }