body {
    background: linear-gradient(-45deg, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    --font-sans: 'Inter';
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
  --font-sans: 'Inter';
}

#SignUp{
    background: linear-gradient(-45deg, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}